@import '../../style/global.scss';

$table-border-width: 2px;

.table {
  width: calc(100% - $table-border-width);
  border: $table-border-width solid $font-secondary-color;

  .table-head {
    background-color: $semi-dark-background;
  }

  .table-cell {
    color: $font-primary-color;
    border-color: $font-secondary-color;
    background-color: $semi-dark-background;
  }
}