@import '../style/global.scss';

$section-margin-width: 20px;
$section-margin-height: 30px;
  
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0px 5% 0px 5%;

  .section {
    width: calc(100% - #{$section-margin-width} * 2);
    margin: $section-margin-height $section-margin-width $section-margin-height $section-margin-width;

    .header {
      font-size: 36px;
      color: $font-primary-color;
    }
  }
}