// Background Definition
$full-screen-background: rgb(62, 67, 74);
$dark-background: rgb(34, 37, 41);
$semi-dark-background: rgb(40, 43, 47);
$box-background: rgb(43, 46, 50);

// Table, Datagram, UI main color
$main-red: rgb(235, 81, 70);
$main-yellow: rgb(246, 189, 78);
$second-yellow: rgb(250, 217, 145);
$dark-red: rgb(51, 44, 47);
$dark-yellow: rgb(63, 60, 48);

// Font Color
$font-primary-color: white;
$font-secondary-color: rgb(153, 155, 157);

// RWD Setting
// Main Breakpoint
$max-app-container-width: 1080px;

// App Container Global Variable
$app-border-radius: 30px;

// Navigation
$navigation-max-height: 149px;

// Mixin
@mixin page-container {
  margin-bottom: $app-border-radius;
}