@import './style/global.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $full-screen-background;
  min-width: 320px;
}

@media only screen and (min-width: $max-app-container-width + 1) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}
